# data
*.h5
*.csv
*.log
*.npy
*.png
*.snappy
*.gzip


catboost_info/
cat_feature_index*
# code
#*.ipynb
.ipynb_checkpoints
.idea
*.pyc
__pycache__
*classifier*
# other
*.DS_Store
geckodriver
*.model
logs
*.bin
*.out
*.swp
